@charset "utf-8";

$active-color: #e50053;
$font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
$code-font-family: "SF Mono", Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
$border-color: #ccc;

$title-color: #000;
$content-color: #000;
$secondary-color: #555;
$gray-background-color: #f3f3f3;

$content-font-size: .14rem;